<% @users.each do |user| %>
<div class="user">
  <div class="profile-image">
  </div>
  <div class="user-info">
    <p class="fs-5"><%= user.Name %></p>
    <div class="num-posts">
      <p>Number of posts: <%= !user.PostsCounter ? 0 : user.PostsCounter %> </p>
    </div>
  </div>
</div>
<% end %>