// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments {
  margin: 0 auto;
  width: 60%;
  background-color: gainsboro;
  padding: 1rem;
}

.create-comment {
  width: 60%;
  margin: 1rem auto;
}

.comment {
  display: flex;
}

.user-name {
  margin-right: 0.5rem;
}

.post-with-comments {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto 0 auto;
  border: 1px black solid;
  padding: 1rem;
}

.all-post {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto 1rem auto;
  border: 1px black solid;
  padding: 1rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-info {
  display: flex;
  gap: 1rem;
}

.comments-likes {
  display: flex;
  gap: 1rem;
}

.see-posts {
  display: flex;
  justify-content: center;
}

.likes-comments {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.likes {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
