// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-image {
  border: 1px black solid;
  width: 7rem;
  margin-right: 1rem;
}

.user {
  display: flex;
  width: 60%;
  justify-content: left;
  margin: 1rem auto 1rem auto;
}

.user-info {
  border: 1px black solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.num-posts {
  align-self: flex-end;
}

.bio {
  width: 60%;
  margin: 1rem auto 1rem auto;
  border: 1px black solid;
  height: 10rem;
  padding: 0 1rem;
}

.post {
  width: 60%;
  margin: 1rem auto 1rem auto;
  border: 1px black solid;
  height: 6rem;
  padding: 0 1rem;  
}

